wign.cloud {
    reverse_proxy /ws/* server-monitoring:8081

    reverse_proxy /api/* server-monitoring:8081

    reverse_proxy /* porto:3000

    tls /etc/caddy/certs/Origin-Certificate.pem /etc/caddy/certs/Private-Key.pem
}

localhost {
    reverse_proxy /ws/* server-monitoring:8081
    reverse_proxy /api/* server-monitoring:8081
    reverse_proxy /* porto:3000
}
