



api.ws.wign.cloud {
    encode gzip
    reverse_proxy server-monitoring:8081
    tls {
        issuer acme
    }
}

localhost {
    encode gzip

    handle_path /ws/* {
        reverse_proxy server-monitoring:8081
    }

    handle_path /api/* {
        reverse_proxy server-monitoring:8081
    }
}
